.env
/vendor/

# =======================================================
# KONFIGURASI FOLDER WRITABLE (BAWAAN CI4)
# =======================================================
/writable/cache/*
!/writable/cache/.gitkeep
/writable/debugbar/*
!/writable/debugbar/.gitkeep
/writable/logs/*
!/writable/logs/.gitkeep
/writable/session/*
!/writable/session/.gitkeep
/writable/uploads/*
!/writable/uploads/.gitkeep

# =======================================================
# KONFIGURASI FOLDER TANDA TANGAN (TTD)
# =======================================================
# Abaikan semua file di dalam folder ttd dan semua subfoldernya (cukup 2 bintang)
/public/ttd/**

# KECUALI semua file .gitkeep yang ada di subfolder manapun di dalam /public/ttd/
!/public/ttd/**/.gitkeep